.warranty-container{

	@media only screen and (max-width: 767px) {
		background: url("/src/assets/warranty/bg_warranty_mobile.webp");
			background-position: top center;
			background-size: contain;
		.hide-mobile{
			display: none;
		}
	}
	.top-spacing {
		height: 5rem;
	}

		.ask_warranty {
			display: flex;
			justify-content: space-between;
			padding-inline: 3%;
			
			padding-top: 7.55%;
			padding-bottom: 7.55%;
			background: url("/src/assets/warranty/bg_warranty.webp");
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			@media only screen and (max-width: 1024px) {
				flex-direction: column;
				background: none;
				
			}
			@media only screen and (min-width: 768px) and (max-width: 1024px) and (min-height: 480px) and (max-height: 768px) {
				padding-top: 40px;
				padding-bottom: 3%;
			}
			@media only screen and (max-width: 480px) {
				padding-top: 15.55%;
			}

			@media only screen and (max-width: 350px) {
				padding-top: 19%;
			}
		}
	.section-header{
		color: var(--header-blue);
		margin-top: 0%;
		position: relative;
		font-weight: 400;
		line-height: 1em;
		@media only screen and (min-width: 768px) and (max-width: 1024px) and (min-height: 480px) and (max-height: 768px) {
           font-size: 7rem;
		}
	}

	.section-header span{
		font-weight: 700;
	}

		.sub-title{
			color: var(--header-blue);
			margin: 2.5% 0 ;
            @media only screen and (min-width:2150px) {
				
			}
			@media only screen and (max-width: 1024px) {
				margin-top: 5% ;
				margin-bottom: 10%;
			} 
			@media only screen and (min-width: 768px) and (max-width: 1024px) and (min-height: 480px) and (max-height: 768px) {
				font-size: 2rem;
								margin-top: 2.55% ;
				margin-bottom: 7.55%;
			}
		}

		.warranty_images{
			border-radius: var(--radius-m);
			max-width: 51%;
			aspect-ratio: calc(939/825);
			object-fit: cover;
				@media only screen and (min-width:2150px) {
					width: 51%;
				}
				@media only screen and (max-width:1024px) {
					max-width: 100%;
					aspect-ratio: calc(345/334);
					margin-top: 5%;
					margin-bottom: 5%;
					}
		}

		.form_container{
			width: 44%;
			height: auto;
			min-height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
				@media only screen and (max-width:1024px) {
					width: 100%;
					margin-top: 5%;
					margin-bottom: 5%;
					}
		}


        .upload_icon{
            width: 4.25%;
            aspect-ratio: 1;
            margin-right: 1%;
                @media only screen and (max-width:767px) {
                    width: 8.25%;
                    margin-right: 2%;
                }
        }



		.input-container{
			width: 100%;
			display: flex;
			flex-direction: column;
			margin-bottom: 2.5%;
				@media only screen and (max-width:1024px) {
					margin-bottom:5%;
					}
		}

		.wrapper-halfs{
			width: 100%;
			display: flex;
			justify-content: space-between;
			margin-bottom: 2.5%;
				@media only screen and (max-width:1024px) {
					flex-direction: column;
					margin-bottom: 0%;
					}
		}

		.warranty_form input{
			border-radius: 100px;
			outline: none;
			border: none;
			padding: 1em 1.5em;
			font-size: 16px;
			color: var(--text-gray-darker);
				&::placeholder{
					color: rgba(104, 104, 104, 1);
				}
					@media only screen and (min-width:2150px) {
						font-size: 0.9vw;
					}
		}

		.warranty_form label{
			font-size: 16px;
			color: var(--header-blue);
			margin-bottom: 2%;
			height: 100%;
				@media only screen and (min-width:2150px) {
					font-size: 0.9vw;
				}
				@media only screen and (max-width:1024px) {
					margin-bottom: 3%;
					}
		}

		.warranty_form textarea{
			border-radius: var(--radius-xs);
				outline: none;
			border: none;
			padding: 1em 1.5em;
				font-size: 16px;
				color: var(--text-gray-darker);
				height: 90px;
				&::placeholder{
					color: rgba(104, 104, 104, 1);
				}
				@media only screen and (min-width:2150px) {
					font-size: 0.9vw;
				}
				@media only screen and (max-width:1024px) {
					height: 70px;
					}
		}

		.input-container-half{
			display: flex;
			width: 49%;
			flex-direction: column;
				@media only screen and (max-width:1024px) {
					flex-direction: column;
					margin-bottom: 5%;
					width: 100%;
				}
		}

			.upload-container{
				display: flex;
				justify-content: center;
				flex-direction: row;
				align-items: center;
				height: 48px;
				transition: all 0.5s ease; 
				cursor: pointer;
				&:hover{
					filter: brightness(0.85) opacity(0.85);
				}
				@media only screen and (min-width:2150px) {
					height:80px;
				}
                @media only screen and (min-width:3250px) {
					height:110px;
				}
	
                    @media only screen and (max-width:1024px) {
                        margin-top: 7.5%;
                        margin-bottom: 5%;

                    }
			}
				.upload-container input{
					width: 0;
					height: 0;
					margin: 0;
					padding: 0;
				}
			.upload-container label{
				width: 100%;
				cursor: pointer;
				background-color: brown;
				display: flex;
				justify-content: center;
				flex-direction: row;
				align-items: center;
				margin-bottom: 0;
				border-radius: 100px;
				background:linear-gradient(0deg, #A2DAFF, #A2DAFF);
				font-size: 16px;
				white-space: pre;
					@media only screen and (min-width:2150px) {
					font-size: 0.9vw;
					}
			}

				.upload-container label span{
					color: rgba(5, 47, 90, 0.6);
					margin-left: 1%;
					white-space: pre;
						@media only screen and (max-width:1024px) {
						margin-left: 2%;
							}
				}

				.upload-container .file-name {
					color: var(--header-blue);
					font-weight: bold;
					font-size: 16px;
						@media only screen and (min-width:2150px) {

							font-size: 0.9vw;
						}
			}

			.submit-btn{
				height: 48px;
				width: 100%;
				color: #ffffff;
				font-weight: 700;
				font-size: 16px;
				border-radius: 100px;
				border: none;
				outline: none;
				background: radial-gradient(112.05% 596.14% at 119.58% 0%, #45B4FF 24.87%, #236BF1 68.27%, #236BF1 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
				transition: all 0.5s ease; 
				background-size: 100% 100%; 
				cursor: pointer;
				&:hover{
					background-position: -205% 100%; 
  					background-size: 150% 150%; 
				}
                @media only screen and (min-width:2150px) {
					height:80px;
						font-size: 0.9vw;
					}
                @media only screen and (min-width:3250px) {
					height:110px;
				}

			
			}

}
